#board {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 625px;
}

#board div{
    width: 25px;
    height: 25px;
}

.tetromino {
    background-color: brown;
}

.freeze {
    background-color: lawngreen;
}