body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    display: flex;
    height: 250px;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#gameInfo {
    display: flex;
    flex-direction: column;
}

#control {
    margin-left: 25px;
    margin-top: 25px;
}

#board {
    border: 2px solid black;
    border-radius: 5px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    width: 406px;
    height: 580px;
    float: left;
    margin-bottom: 50px;
    padding: 5px;
}

#board div{
    width: 22px;
    height: 22px;
    border: 1.5px #686868 solid;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
}

#previewBoard{
    border: 2px solid black;
    border-radius: 5px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    width: 75px;
    margin-left: 25px;
    padding: 10px;
}

#previewBoard div{
    width: 25px;
    height: 25px;
}

#startButton {
    width: 100%;
    height: 40px;
}

#score {
    text-align: center;
}

.tetromino {
    background-color: #C74ED8;
}

.freeze {
    background-color: white;
}

.bottom {
    border: initial !important;
}