#board {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 385px;
    height: 625px;
    float: left;
    margin-bottom: 50px;
}

#board div{
    width: 20px;
    height: 20px;
    border: 1px black solid;
    border-radius: 5px;
    margin: 1px 1px 1px 1px;
}

#previewBoard{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 75px;
    margin-left: 25px;
    float: left;
}

#previewBoard div{
    width: 25px;
    height: 25px;
}

#control{
    clear: both;
}

.tetromino {
    background-color: brown;
}

.freeze {
    background-color: lawngreen;
}